<head>
    <title>socket stuff</title>
    <link rel='stylesheet' href='style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>
    <div id='main'>
        <div class='main'>
            <form action="/signup" method="post">
                <h1>Sign Up</h1>
                <div class="inset">
                    <p>
                      <label for="username">USERNAME</label>
                      <input type="text" name="username" class="">
                    </p>
                    <p>
                        <label for="email">EMAIL ADDRESS</label>
                        <input type="text" name="email">
                    </p>
                    <p>
                        <label for="password">PASSWORD</label>
                        <input type="password" name="password">
                    </p>
                    <p>
                        <label for="confirm_password">CONFIRM PASSWORD</label>
                        <input type="password" name="confirm_password">
                    </p>
                </div>
                <p class="p-container">
                    <input type="submit" class="login-log" style=" background: #3bb5ec; border: #3bb5ec;" value="Register">
                    <span><a href="/login">Login</a></span>
                </p>
            </form>
        </div>
    </div>
</body>